{% extends 'base.html' %}

{% block head %}
<title>Nork-Town Cars</title>
{% endblock %}

{% block body %}
<div class="content">
  <h1>Citizens</h1>
  <table>
    <tr>
      <th>Citizen Name</th>
      <th>Cars</th>
    </tr>
      {% for citizen in citizens %}
      <tr>
        <td>{{ citizen.name }}</td>
        <td>{{ citizen.car }}</td>
        <td>
          <a href="">Delete</a>
          <br>
          <a href="">Update</a>
        </td>
      </tr>
      {% endfor %}
  </table>

  <form action="/" method="POST">
    <input type="text" name="content" id="content">
    <input type="submit" value="Citizen name">
  </form>
</div>
{% endblock %}
